@import "../../../colors.scss";

.categoryMain {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.divCategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 21px;
  @media (min-width: 1024px) {
    padding: 0 35px;
  }

  .categoryP {
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 16px;
    font-family: "TKTRegular";
    letter-spacing: 0.5px;
    color: $DarkBlue;
    opacity: 1;
  }

  .categoryListDiv {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .checkboxDiv {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;

      .inputCheckbox {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        opacity: 1;
        border: 1px solid #e5e5ed;
        cursor: pointer;
      }

      .categoryTitles {
        text-align: left;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        font-family: "TKTRegular";
        letter-spacing: 0px;
        color: $DarkBlue;
        opacity: 1;
      }
    }
  }
}
