@import "../../colors.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;

  .headerMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    @media (min-width: 1024px) {
      max-width: 1286px;
      padding: 28px 20px;
    }
    @media (min-width: 1295px) {
      padding: 28px 0;
    }
    .siteContentdiv {
      display: flex;
      flex-direction: row;
      gap: 14px;
      align-items: flex-start;

      .burgerMenuImg {
        width: 16px;
        height: 14px;
        @media (min-width: 1024px) {
          display: none;
        }
      }

      .siteMobSvg {
        @media (min-width: 1024px) {
          display: none;
        }
      }

      .symbolSvg {
        display: none;
        @media (min-width: 1024px) {
          display: block;
        }
      }
    }

    .userActions {
      display: flex;
      flex-direction: row;
      gap: 22px;
      align-items: flex-start;
      position: relative;
      height: 21px;
      @media (min-width: 1024px) {
        align-items: center;
        gap: 20px;
      }

      .notificationSvg {
        @media (min-width: 1024px) {
          display: none;
        }
      }

      .basketSvg {
        @media (min-width: 1024px) {
          display: none;
        }
      }

      .resultDiv {
        width: 17px;
        height: 17px;
        border-radius: 11px;
        position: absolute;
        right: 30px;
        bottom: 15px;
        background-color: $redColor;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 1024px) {
          right: 0;
          left: 110px;
          bottom: 20px;
          width: 20px;
          height: 20px;
        }

        .resultP {
          text-align: center;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          line-height: 14px;
          font-family: "Helvetica Neue LT GEO", sans-serif;
          letter-spacing: 0px;
          color: $White;
          opacity: 1;
        }
      }

      .accountSvg {
        @media (min-width: 1024px) {
          display: none;
        }
      }

      .iconDiv {
        display: none;
        @media (min-width: 1024px) {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $DarkGray;
          border-radius: 12px;
          opacity: 1;
          width: 50px;
          height: 46px;
        }
      }

      .iconDivAcc {
        display: none;
        @media (min-width: 1024px) {
          width: 160px;
          height: 46px;
          border: 1px solid $DarkGray;
          border-radius: 12px;
          opacity: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 25px;
          padding: 0 14px;
        }
        .accountProfile {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          .profileP {
            text-align: left;
            font-style: normal;
            font-weight: normal;
            font-stretch: normal;
            font-size: 14px;
            line-height: 20px;
            font-family: "TKTRegular";
            letter-spacing: 0px;
            color: $PitchBlackGray;
            opacity: 1;
          }
        }
      }
    }
  }
}
