$backgroundColor: #fafafb;
$ContainerColor: #ffffff;
$hrColor: #f1f1f5;
$textColor: #171d25;
$spanColor: #696974;
$buttonColor: #99cc66;
$mountColor: #171725;
$InputBorderColor: #e5e5ed;
$headerColor: #0000000f;
$logoColor: #92929d;
$SearchButtonColor: #003333;
$SearchButtonbackground: #00000014;
