$LightGray: #fafafb;
$White: #ffffff;
$DarkGray: #f1f1f5;
$DarkBlue: #171d25;
$PitchBlackGray: #696974;
$LightGreen: #99cc66;
$PitchBlackBlue: #171725;
$DarkWhite: #e5e5ed;
$DarkBlack: #0000000f;
$GloomyGray: #92929d;
$MistyBlue: #003333;
$GloomyBlack: #00000014;
