@font-face {
  font-family: "TKTRegular";
  src: url("../../public/TKT-Regular.ttf");
}

@font-face {
  font-family: "TKTMedium";
  src: url("../../public/TKT-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafb;
  position: relative;
}
