.MainPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: 1024px) {
    align-items: center;
  }

  .SortingFiltDiv {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
      width: 100%;
      justify-content: center;
      padding: 0 20px;
    }

    @media (min-width: 1300px) {
      padding: 0;
    }
  }
}
