.MainSorting {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0 20px;

  .filterSorting {
    width: 100%;
    border: 1px solid #e5e5ed;
    border-radius: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 40px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sortingTitle {
      text-align: left;
      font: normal normal normal 14px/40px TKT;
      font-size: 14px;
      line-height: 40px;
      font-family: "TKTRegular";
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0px;
      color: #696974;
      opacity: 1;
    }
  }
}
