@import "../../colors.scss";

.BrugerContainer {
  width: 60%;
  display: flex;
  min-height: 100%;
  background-color: $DarkWhite;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 25px 20px;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.6s;

  @media (min-width: 1024px) {
    overflow: visible;
    position: inherit;
    left: 10px;
    top: 100px;
  }
}
