@import "../../colors.scss";

.mainAdvetisment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../../../public/assets/shutterstock_1040057017.png");
  background-repeat: no-repeat;
  background-size: 100% 120px;
  height: 120px;

  .advertismentP {
    width: 174px;
  }
}
